05_Ciclo3/05_PresentationLayer/CapaPresentacionOperador/App_WebReferences/Centralizador/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:20760/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:20760/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:20760/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Centralizador.Entity" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_RegistrarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarUsuario" />
  </wsdl:message>
  <wsdl:message name="IService1_RegistrarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ValidarExistenciaUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidarExistenciaUsuario" />
  </wsdl:message>
  <wsdl:message name="IService1_ValidarExistenciaUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidarExistenciaUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ValidarPorIdentificacionYTipo_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidarPorIdentificacionYTipo" />
  </wsdl:message>
  <wsdl:message name="IService1_ValidarPorIdentificacionYTipo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidarPorIdentificacionYTipoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ConsultarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarUsuario" />
  </wsdl:message>
  <wsdl:message name="IService1_ConsultarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ActualizarDatosUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarDatosUsuario" />
  </wsdl:message>
  <wsdl:message name="IService1_ActualizarDatosUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarDatosUsuarioResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="RegistrarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/RegistrarUsuario" message="tns:IService1_RegistrarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RegistrarUsuarioResponse" message="tns:IService1_RegistrarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidarExistenciaUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ValidarExistenciaUsuario" message="tns:IService1_ValidarExistenciaUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ValidarExistenciaUsuarioResponse" message="tns:IService1_ValidarExistenciaUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidarPorIdentificacionYTipo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ValidarPorIdentificacionYTipo" message="tns:IService1_ValidarPorIdentificacionYTipo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ValidarPorIdentificacionYTipoResponse" message="tns:IService1_ValidarPorIdentificacionYTipo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ConsultarUsuario" message="tns:IService1_ConsultarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ConsultarUsuarioResponse" message="tns:IService1_ConsultarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarDatosUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ActualizarDatosUsuario" message="tns:IService1_ActualizarDatosUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ActualizarDatosUsuarioResponse" message="tns:IService1_ActualizarDatosUsuario_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegistrarUsuario">
      <soap:operation soapAction="http://tempuri.org/IService1/RegistrarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidarExistenciaUsuario">
      <soap:operation soapAction="http://tempuri.org/IService1/ValidarExistenciaUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidarPorIdentificacionYTipo">
      <soap:operation soapAction="http://tempuri.org/IService1/ValidarPorIdentificacionYTipo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarUsuario">
      <soap:operation soapAction="http://tempuri.org/IService1/ConsultarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarDatosUsuario">
      <soap:operation soapAction="http://tempuri.org/IService1/ActualizarDatosUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:20760/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>